<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- API URLS -->
		<add key="GoogleTranslateAPIUrl" value="https://translation.googleapis.com/language/translate/v2"/>
		
		<!-- API KEYS -->
		<add key="GoogleTranslateAPIKey" value="AIzaSyBXYvEdijx4HjA2xdfSUrhkn1y8uY2wxSY"></add>
	</appSettings>
</configuration>